@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&Prompt:wght@300;400&display=swap');
@import './bootstrap-reboot.min.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f6f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  letter-spacing: 1px;
}
.warning-title {
  font-weight: 500;
  display: block;
}
.warning-content {
  font-weight: 400;
  display: block;
}
.center-main {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  background-position: bottom right;
}
